-var services = ["Piscina", "Vista a la calle", "Cocina con Reposteros"]
-var message = "Buenos dias"
header
	-if (services[0] == 'Piscina'){
		p='mi' + services[0]
	-}
//	-
		var friends = 1;
		var number = 15;
//case friends
	when 0
		p you have
	when 1
		p you have a friend #{number}
	default
		p you have #{friends} friends
	h1= message